<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soluciones SHL</title>

    <!-- Importamos archivos de estilos y scripts -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/index.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/621fa3bda5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Barra de navegación -->
    <nav class="nav">
      <!-- Título -->
      <h1 class="nav__title"><a href="#">Soluciones HSL</a></h1>
      <!-- Botón invisible para alternar visibilidad de las opciones de navegación en vista móvil -->
      <button class="nav__btn"><i class="fa-solid fa-bars"></i></button>
      <!-- Opciones de navegación -->
      <ul class="bar">
        <li class="bar__item"><a href="proyectos.html">Proyectos</a></li>
        <li class="bar__item"><a href="#">Iniciar sesión</a></li>
        <li class="bar__item"><a href="#">Crear cuenta</a></li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="hero">
      <div class="overlay">
        <h2 class="hero__title">Hacemos tus proyectos realidad</h2>
        <p>
          Soluciones HSL se encarga de realizar los proyectos que necesites,
          solamente debes mandarnos un correo electrónico y te atenderemos con
          mucho gusto.
        </p>
        <a href="proyectos.html" class="btn">Ver proyectos</a>
      </div>
    </header>
    <main class="main">
      <h2>Sobre nosotros</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        omnis eligendi, placeat nesciunt inventore suscipit cupiditate
        asperiores. Nostrum animi unde quia quaerat culpa. Exercitationem, ut
        odit! Illo quos suscipit pariatur! A temporibus cupiditate officia,
        consequuntur eos placeat minima. Assumenda vero rem repellendus totam
        mollitia magni alias vel, quo placeat reprehenderit nobis. A laboriosam
        ea numquam facere ipsa sequi, exercitationem quae! Aliquam ratione
        consequuntur amet cum? Voluptate doloribus eius ex temporibus quaerat
        ullam soluta rerum? Neque ullam quisquam corporis soluta non, blanditiis
        fuga itaque perspiciatis nisi tenetur, animi deleniti voluptate iste?
      </p>
    </main>
  </body>
</html>
