<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyectos - Soluciones HLS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/index.css') }}"
    />
  </head>
  <body>
    <!-- Barra de navegación -->
    <nav class="nav">
      <!-- Título -->
      <h1 class="nav__title"><a href="#">Soluciones HSL</a></h1>
      <!-- Botón invisible para alternar visibilidad de las opciones de navegación en vista móvil -->
      <button class="nav__btn"><i class="fa-solid fa-bars"></i></button>
      <!-- Opciones de navegación -->
      <ul class="bar">
        <li class="bar__item bar__item--active">
          <a href="proyectos.html">Proyectos</a>
        </li>
        <li class="bar__item"><a href="#">Iniciar sesión</a></li>
        <li class="bar__item"><a href="#">Crear cuenta</a></li>
      </ul>
    </nav>
    <h2>{{message}}</h2>
  </body>
</html>
